<ion-view view-title="Produits">
  <ion-nav-buttons side="right">
    <a class="button ion-ios-cart-outline" ng-click="modal_cart()" >
      {{calc_total()}}€
    </a>
  </ion-nav-buttons>
  <ion-content [has-bouncing="true"]>
    <div ng-repeat="category in categories" >
      <div class="item item-divider">
        {{category.name}}
      </div>
      <ion-list>
        <div ng-repeat="product in products">
          <a ng-hide="product.category != category.id || product.display != true" class="item item-thumbnail-left" ng-click="modal_products(product.id)">
            <img ng-src="{{product.pic}}">
            <div class="row">
            <div class="col col-75">
              <h2>{{product.name}}</h2>
            </div>
            <div class="col col-25">
              <div class="ion-chevron-right button-icon icon"></div>
            </div>
          </div>
          </a>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
