<ion-view view-title="Produits">
  <ion-nav-buttons side="right">
    <a class="button" href="#/tab/panier" >
      Panier!
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div ng-repeat="category in categories" >
      <div class="item item-divider">
        {{category.name}}
      </div>
      <ion-list>
        <div ng-repeat="product in products">
          <a ng-hide="product.category != category.id || product.display != true" class="item item-thumbnail-left" ng-click="modal_products(product.id)">
          <!-- "modal_products(product.id)"> -->
            <img ng-src="{{product.pic}}">
            <h2>{{product.name}}</h2>
            <div class="row">
              {{get_number(product.id)}}
              <div class="ion-chevron-right"></div>
            </div>
            <p>{{product.description}}</p>
          </a>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
