<ion-view view-title="Produits">
  <ion-nav-buttons side="right">
    <button ng-click="go_to_panier()" >
      Panier
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-item>
      <div class="item item-divider">
        Alcools
      </div>
      <ion-list>
        <a ng-repeat="product in products" class="item item-thumbnail-left">
          <img ng-src="{{product.pic}}">
          <h2>{{product.name}}</h2>
          <div class="row">
          <button class="disable-hover button button-default button-light button-icon-left" ng-click="add_to_panier(product.id)">
            <span class="button-inner">
            <i class="icon ion-ios-plus button-size"></i>
            </span>
          </button>
          <button class="disable-hover button button-default button-light button-icon-right" ng-click="remove_from_panier(product.id)">
            <span class="button-inner">
            <i class="icon ion-ios-minus button-size"></i>
            </span>
          </button>
          {{get_number(product.id)}}
        </div>
          <p>{{product.description}}</p>
        </a>
      </ion-list>
    </ion-item>
  </ionc-content>
</ion-view>
