<ion-view view-title="Panier">
  <ion-content>
    <div ng-show="panier.length > 0">
      <ion-list>
        <ion-item>
          <div ng-repeat="article in panier" class="item item-thumbnail-left" ng-click="show_modal(article.id)">
            <img ng-src="{{get_product(article.id).pic}}">
            <h2>{{get_product(article.id).name}}</h2>
            <div class="row">
              {{get_number(article.id)}}
              <a class="ion-chevron-right"></a>
            </div>
            <p>{{get_product(article.id).description}}</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-hide="panier.length > 0">
      Votre panier est actuellement vide. Remplis le donc!
    </div>
  </ionc-content>
</ion-view>
