<ion-view view-title="Test Livrabilité">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-location placeholder-icon"></i>
        <input type="text" placeholder="Adresse" ng-model="address">
      </label>
    </div>
    <button ng-click="test_position()"class="button button-full button-calm">
        Test ta position!
    </button>
    {{time}}













        <strong>Results</strong>
      </div>
      <div id="output"></div>
    </div>
    <div id="map"></div>
  </ion-content>
</ion-view>
