<ion-view view-title="Test Livrabilité">
  <ion-content>
    <form>
      <div class="list list-inset">
        <div class="row">
        <div class="col col-75">
          <label class="item item-input">
            <i class="icon ion-location placeholder-icon"></i>
            <input type="text" id="search-bar" placeholder="Adresse" ng-model="data.address">
          </label>
        </div>
        <div class="col">
          <i class="button button-icon icon ion-pinpoint" ng-click="find_position()"></i>
        </div>
      </div>
      </div>
      <button ng-click="test()" class="button button-full button-positive">
        Test
      </button>
    </form>
    <h1>{{time}}</h1>
  </ion-content>
</ion-view>
