<ion-view view-title="Test Livrabilité">
  <ion-content>
    <form>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-location placeholder-icon"></i>
          <input type="text" id="search-bar" placeholder="Adresse" ng-model="data.address">
        </label>
      </div>
      <div class="row">
        <div class="col">
          <button ng-click="test_address()"class="button button-block button-calm">
            Mon adresse
          </button>
        </div>
        <div class="col">
          <button ng-click="test_position()" class="button button-block button-positive">
            Ma position
          </button>
        </div>
      </div>
    </form>
    <h1>{{time}}</h1>
  </ion-content>
</ion-view>
